argh==0.26.2
beautifulsoup4==4.9.0
certifi==2022.12.7
cffi==1.14.0
chardet==3.0.4
chromedriver==2.24.1
gevent==20.6.2
greenlet==0.4.16
idna==2.10
pkg-resources==0.0.0
pycparser==2.20
requests==2.24.0
requests-file==1.5.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tldextract==2.2.2
urllib3==1.25.10
zope.event==4.4
zope.interface==5.1.0

